@model StarWar

<form asp-controller="Home" asp-action="Planet">
    <Label>Planet ID:</Label>
    <input type="number" name="id" />
    <br />
    <input type="submit" value="search planets" />
    <br />
</form>
<form asp-controller="Home" asp-action="Person">
    <Label>Person ID:</Label>
    <input type="number" name="id" />
    <br />
    <input type="submit" value="search people" />
    <br />
</form>